@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

pre {
  margin: 0; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

abbr {
  border-bottom: 0 none; }

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

@font-face {
  font-family: 'brickcity-icons';
  src: url("fonts/brickcity_icons.eot");
  src: url("fonts/brickcity_icons.eot") format("embedded-opentype"), url("fonts/brickcity_icons.ttf") format("truetype"), url("fonts/brickcity_icons.woff") format("woff"), url("fonts/brickcity_icons.svg") format("svg");
  font-weight: normal;
  font-style: normal; }


.bc-icon {
  display: inline-block;
  font-family: 'brickcity-icons';
  font-style: normal;
  line-height: 1;
  vertical-align: top; }

.bc-icon-amazon:before {
  content: ""; }

.bc-icon-android:before {
  content: ""; }

.bc-icon-apple:before {
  content: ""; }

.bc-icon-audible:before {
  content: ""; }

.bc-icon-calendar:before {
  content: ""; }

.bc-icon-caret-down:before {
  content: ""; }

.bc-icon-caret-left:before {
  content: ""; }

.bc-icon-caret-right:before {
  content: ""; }

.bc-icon-caret-up:before {
  content: ""; }

.bc-icon-check:before {
  content: ""; }

.bc-icon-chevron-down:before {
  content: ""; }

.bc-icon-chevron-left:before {
  content: ""; }

.bc-icon-chevron-right:before {
  content: ""; }

.bc-icon-chevron-up:before {
  content: ""; }

.bc-icon-clock:before {
  content: ""; }

.bc-icon-close:before {
  content: ""; }

.bc-icon-envelope:before {
  content: ""; }

.bc-icon-exclamation-triangle:before {
  content: ""; }

.bc-icon-facebook:before {
  content: ""; }

.bc-icon-gift:before {
  content: ""; }

.bc-icon-googleplus:before {
  content: ""; }

.bc-icon-info-circle:before {
  content: ""; }

.bc-icon-microphone:before {
  content: ""; }

.bc-icon-pause:before {
  content: ""; }

.bc-icon-phone:before {
  content: ""; }

.bc-icon-pinterest:before {
  content: ""; }

.bc-icon-play:before {
  content: ""; }

.bc-icon-search:before {
  content: ""; }

.bc-icon-star:before {
  content: ""; }

.bc-icon-twitter:before {
  content: ""; }

.bc-icon-windows:before {
  content: ""; }

.bc-clearfix,
.clearfix {
  *zoom: 1; }

.bc-clearfix:before,
.bc-clearfix:after,
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0; }

.bc-clearfix:after,
.clearfix:after {
  clear: both; }

.bc-hide-text,
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.bc-offscreen {
  position: absolute !important;
  left: auto;
  top: auto;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0); }

.bc-hidden {
  display: none;
  visibility: hidden; }

.bc-block {
  display: block;
  position: relative; }

.bc-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.bc-relative {
  position: relative; }

.bc-float-right {
  float: right; }

.bc-float-left {
  float: left; }

.bc-align-top {
  vertical-align: top; }

.bc-align-center {
  vertical-align: middle; }

.bc-align-bottom {
  vertical-align: bottom; }

.bc-divider {
  border-top: 1px solid #ccc;
  display: block; }
  .bc-divider.bc-divider-thick {
    border-top-width: 2px; }
  .bc-divider.bc-divider-dotted {
    border-top-style: dotted; }

    .bc-divider {
      border-top: 1px solid #333;
      display: block; }
      .bc-divider.bc-divider-thick {
        border-top-width: 2px; }
      .bc-divider.bc-divider-dotted {
        border-top-style: dotted; }


.bc-pipe {
  background-color: #ccc;
  display: inline-block;
  height: 14px;
  vertical-align: middle;
  width: 1px; }
  .bc-pipe.bc-letter-space-micro {
    margin: 0 2px; }
  .bc-pipe.bc-letter-space-mini {
    margin: 0 4px; }
  .bc-pipe.bc-letter-space-small {
    margin: 0 8px; }
  .bc-pipe.bc-letter-space-base {
    margin: 0 10px; }
  .bc-pipe.bc-letter-space-medium {
    margin: 0 14px; }
  .bc-pipe.bc-letter-space-large {
    margin: 0 18px; }
  .bc-pipe.bc-letter-space-extra-large {
    margin: 0 20px; }

.bc-row {
  width: 100%; }
  .bc-row .bc-push-1 {
    left: 8.448%; }
  .bc-row .bc-pull-1 {
    left: -8.448%; }
  .bc-row .bc-push-2 {
    left: 16.948%; }
  .bc-row .bc-pull-2 {
    left: -16.948%; }
  .bc-row .bc-push-3 {
    left: 25.448%; }
  .bc-row .bc-pull-3 {
    left: -25.448%; }
  .bc-row .bc-push-4 {
    left: 33.948%; }
  .bc-row .bc-pull-4 {
    left: -33.948%; }
  .bc-row .bc-push-5 {
    left: 42.448%; }
  .bc-row .bc-pull-5 {
    left: -42.448%; }
  .bc-row .bc-push-6 {
    left: 50.948%; }
  .bc-row .bc-pull-6 {
    left: -50.948%; }
  .bc-row .bc-push-7 {
    left: 59.448%; }
  .bc-row .bc-pull-7 {
    left: -59.448%; }
  .bc-row .bc-push-8 {
    left: 67.948%; }
  .bc-row .bc-pull-8 {
    left: -67.948%; }
  .bc-row .bc-push-9 {
    left: 76.448%; }
  .bc-row .bc-pull-9 {
    left: -76.448%; }
  .bc-row .bc-push-10 {
    left: 84.948%; }
  .bc-row .bc-pull-10 {
    left: -84.948%; }
  .bc-row .bc-push-11 {
    left: 93.448%; }
  .bc-row .bc-pull-11 {
    left: -93.448%; }
  .bc-row .bc-push-12 {
    left: 101.948%; }
  .bc-row .bc-pull-12 {
    left: -101.948%; }
  .bc-row:before,
  .bc-row:after {
    clear: both;
    display: block;
    content: ""; }

.bc-col {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible; }
  .bc-col.bc-col-last {
    margin-right: 0;
    float: right; }
  .bc-col.bc-col-1 {
    width: 6.448%; }
  .bc-col.bc-col-2 {
    width: 14.948%; }
  .bc-col.bc-col-3 {
    width: 23.448%; }
  .bc-col.bc-col-4 {
    width: 31.948%; }
  .bc-col.bc-col-5 {
    width: 40.448%; }
  .bc-col.bc-col-6 {
    width: 48.948%; }
  .bc-col.bc-col-7 {
    width: 57.448%; }
  .bc-col.bc-col-8 {
    width: 65.948%; }
  .bc-col.bc-col-9 {
    width: 74.448%; }
  .bc-col.bc-col-10 {
    width: 82.948%; }
  .bc-col.bc-col-11 {
    width: 91.448%; }
  .bc-col.bc-col-12 {
    width: 100%;
    margin-right: 0; }

.bc-push-1, .bc-pull-1,
.bc-push-2, .bc-pull-2,
.bc-push-3, .bc-pull-3,
.bc-push-4, .bc-pull-4,
.bc-push-5, .bc-pull-5,
.bc-push-6, .bc-pull-6,
.bc-push-7, .bc-pull-7,
.bc-push-8, .bc-pull-8,
.bc-push-9, .bc-pull-9,
.bc-push-10, .bc-pull-10,
.bc-push-11, .bc-pull-11,
.bc-push-12, .bc-pull-12 {
  position: relative; }

.bc-fixed-grid-right:before,
.bc-fixed-grid-right:after {
  clear: both;
  display: block;
  content: ""; }

.bc-fixed-grid-right .bc-col-left {
  width: 100%; }

.bc-fixed-grid-left:before,
.bc-fixed-grid-left:after {
  clear: both;
  display: block;
  content: ""; }

.bc-fixed-grid-left .bc-col-right {
  width: 100%; }

.bc-col-left,
.bc-col-right {
  float: left; }

.desktop .bc-container {
  min-width: 1020;
  max-width: 1020px;
  padding: 0 10px;
  margin: 0 auto; }





.mobile .bc-container {
  padding: 0 15px;
  max-width: 100%;
  width: 100%; }

.bc-section {
  clear: both;
  overflow: visible; }

.bc-spacing-micro {
  margin-bottom: 5px; }

.bc-spacing-top-micro {
  margin-top: 5px; }

.bc-padding-micro {
  padding-bottom: 5px; }

.bc-padding-top-micro {
  padding-top: 5px; }

.bc-spacing-mini {
  margin-bottom: 10px; }

.bc-spacing-top-mini {
  margin-top: 10px; }

.bc-padding-mini {
  padding-bottom: 10px; }

.bc-padding-top-mini {
  padding-top: 10px; }

.bc-spacing-small {
  margin-bottom: 15px; }

.bc-spacing-top-small {
  margin-top: 15px; }

.bc-padding-small {
  padding-bottom: 15px; }

.bc-padding-top-small {
  padding-top: 15px; }

.bc-spacing-base {
  margin-bottom: 20px; }

.bc-spacing-top-base {
  margin-top: 20px; }

.bc-padding-base {
  padding-bottom: 20px; }

.bc-padding-top-base {
  padding-top: 20px; }

.bc-spacing-medium {
  margin-bottom: 30px; }

.bc-spacing-top-medium {
  margin-top: 30px; }

.bc-padding-medium {
  padding-bottom: 30px; }

.bc-padding-top-medium {
  padding-top: 30px; }

.bc-spacing-large {
  margin-bottom: 50px; }

.bc-spacing-top-large {
  margin-top: 50px; }

.bc-padding-large {
  padding-bottom: 50px; }

.bc-padding-top-large {
  padding-top: 50px; }

.bc-spacing-extra-large {
  margin-bottom: 70px; }

.bc-spacing-top-extra-large {
  margin-top: 70px; }

.bc-padding-extra-large {
  padding-bottom: 70px; }

.bc-padding-top-extra-large {
  padding-top: 70px; }

.bc-spacing-double-large {
  margin-bottom: 140px; }

.bc-spacing-top-double-large {
  margin-top: 140px; }

.bc-padding-double-large {
  padding-bottom: 140px; }

.bc-padding-top-double-large {
  padding-top: 140px; }

.mobile .bc-spacing-micro {
  margin-bottom: 5px; }

.mobile .bc-padding-micro {
  padding-bottom: 5px; }

.mobile .bc-spacing-top-micro {
  margin-top: 5px; }

.mobile .bc-padding-top-micro {
  padding-top: 5px; }

.mobile .bc-spacing-mini {
  margin-bottom: 10px; }

.mobile .bc-padding-mini {
  padding-bottom: 10px; }

.mobile .bc-spacing-top-mini {
  margin-top: 10px; }

.mobile .bc-padding-top-mini {
  padding-top: 10px; }

.mobile .bc-spacing-small {
  margin-bottom: 15px; }

.mobile .bc-padding-small {
  padding-bottom: 15px; }

.mobile .bc-spacing-top-small {
  margin-top: 15px; }

.mobile .bc-padding-top-small {
  padding-top: 15px; }

.mobile .bc-spacing-base {
  margin-bottom: 20px; }

.mobile .bc-padding-base {
  padding-bottom: 20px; }

.mobile .bc-spacing-top-base {
  margin-top: 20px; }

.mobile .bc-padding-top-base {
  padding-top: 20px; }

.mobile .bc-spacing-medium {
  margin-bottom: 25px; }

.mobile .bc-padding-medium {
  padding-bottom: 25px; }

.mobile .bc-spacing-top-medium {
  margin-top: 25px; }

.mobile .bc-padding-top-medium {
  padding-top: 25px; }

.mobile .bc-spacing-large {
  margin-bottom: 30px; }

.mobile .bc-padding-large {
  padding-bottom: 30px; }

.mobile .bc-spacing-top-large {
  margin-top: 30px; }

.mobile .bc-padding-top-large {
  padding-top: 30px; }

.mobile .bc-spacing-extra-large {
  margin-bottom: 35px; }

.mobile .bc-padding-extra-large {
  padding-bottom: 35px; }

.mobile .bc-spacing-top-extra-large {
  margin-top: 35px; }

.mobile .bc-padding-top-extra-large {
  padding-top: 35px; }

.mobile .bc-spacing-double-large {
  margin-bottom: 70px; }

.mobile .bc-padding-double-large {
  padding-bottom: 70px; }

.mobile .bc-spacing-top-double-large {
  margin-top: 70px; }

.mobile .bc-padding-top-double-large {
  padding-top: 70px; }
/*
import ProdFooter from '../Header/ProdFooter';:src/public/css/slim.css*/
a:hover .bc-icon {
  text-decoration: none; }

.bc-icon {
  display: inline-block;
  vertical-align: top;
  background-size: 400px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/bc_sprite_1x._V303397111_.png); }
  .bc-hires .bc-icon {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/bc_sprite_2x._V303397104_.png); }

.svg .bc-icon {
  background-position: 0 0;
  background-size: 100% 100%; }

.bc-icon-inline-expander-close {
  background-position: -155px -5px;
  height: 8px;
  width: 10px; }

.svg .bc-icon-inline-expander-close {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/inline_expander_close.svg); }

.bc-icon-inline-expander-open {
  background-position: -155px -18px;
  height: 8px;
  width: 10px; }

.svg .bc-icon-inline-expander-open {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/inline_expander_open.svg); }

.bc-icon-expander-active {
  background-position: -55px -5px;
  height: 7px;
  width: 12px; }

.svg .bc-icon-expander-active {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/expander_active.svg); }

.bc-icon-expander-inactive {
  background-position: -35px -5px;
  height: 7px;
  width: 12px; }

.svg .bc-icon-expander-inactive {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/expander_inactive.svg); }

.bc-icon-arrow-gray {
  background-position: -19px -4px;
  height: 16px;
  width: 10px; }

.bc-icon-star {
  height: 17px;
  width: 17px; }

.svg .bc-icon-star-full {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/star_full.svg); }

.svg .bc-icon-star-half {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/star_half.svg); }

.svg .bc-icon-star-empty {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/star_empty.svg); }

.bc-icon-alert-normal-error {
  background-position: -276px -42px;
  height: 29px;
  width: 32px; }

.svg .bc-icon-alert-normal-error {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/alert_normal_error.svg); }

.bc-icon-alert-normal-warning {
  background-position: -276px -42px;
  height: 29px;
  width: 32px; }

.svg .bc-icon-alert-normal-warning {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/alert_normal_error.svg); }

.bc-icon-alert-normal-success {
  background-position: -318px -45px;
  height: 23px;
  width: 30px; }

.svg .bc-icon-alert-normal-success {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/alert_normal_success.svg); }

.bc-icon-alert-normal-info {
  background-position: -361px -42px;
  height: 29px;
  width: 28px; }

.svg .bc-icon-alert-normal-info {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/alert_normal_info.svg); }

.bc-icon-alert-inline-error {
  background-position: -158px -33px;
  height: 25px;
  width: 27px; }

.svg .bc-icon-alert-inline-error {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/icons/alert_inline_error.svg); }

.bc-icon-alert-inline-warning {
  background-position: -126px -33px;
  height: 25px;
  width: 27px; }

.bc-box {
  border: 1px solid #ccc; }
  .bc-box.bc-box-noborder {
    border: none; }

.bc-box-padding-micro {
  padding: 5px; }

.bc-box-padding-mini {
  padding: 10px; }

.bc-box-padding-small {
  padding: 15px; }

.bc-box-padding-base {
  padding: 20px; }

.bc-box-padding-medium {
  padding: 30px; }

.bc-box-padding-large {
  padding: 50px; }

.bc-box-padding-extra-large {
  padding: 70px; }

.bc-box-padding-double-large {
  padding: 140px; }

.mobile .bc-box-padding-micro {
  padding: 5px; }

.mobile .bc-box-padding-mini {
  padding: 10px; }

.mobile .bc-box-padding-small {
  padding: 15px; }

.mobile .bc-box-padding-base {
  padding: 20px; }

.mobile .bc-box-padding-medium {
  padding: 25px; }

.mobile .bc-box-padding-large {
  padding: 30px; }

.mobile .bc-box-padding-extra-large {
  padding: 35px; }

.mobile .bc-box-padding-double-large {
  padding: 70px; }

body {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

.mobile body {
  font-size: 14px; }

a {
  color: #199acc;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.bc-link-nav {
  color: #333; }

h1, h2 {
  font-weight: normal; }

.bc-section-feature h1, .bc-section-feature h2, .bc-section-feature h3, .bc-section-feature h4 {
  font-weight: normal; }

p {
  margin: 0 0 15px; }

.bc-size-mini {
  font-size: 12px !important;
  line-height: 12px !important; }

.bc-size-small {
  font-size: 13px !important;
  line-height: 19px !important; }

.bc-size-base {
  font-size: 14px !important;
  line-height: 20px !important; }

.bc-size-medium {
  font-size: 20px !important;
  line-height: 26px !important; }

.bc-size-large {
  font-size: 26px !important;
  line-height: 34px !important; }

.bc-size-extra-large {
  font-size: 40px !important;
  line-height: 48px !important; }

.mobile .bc-size-mini {
  font-size: 12px !important;
  line-height: 18px !important; }

.mobile .bc-size-small {
  font-size: 13px !important;
  line-height: 19px !important; }

.mobile .bc-size-base {
  font-size: 14px !important;
  line-height: 20px !important; }

.mobile .bc-size-medium {
  font-size: 16px !important;
  line-height: 22px !important; }

.mobile .bc-size-large {
  font-size: 20px !important;
  line-height: 26px !important; }

.mobile .bc-size-extra-large {
  font-size: 24px !important;
  line-height: 30px !important; }

h1 {
  font-size: 26px;
  line-height: 34px;
  margin: 0; }

h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 0; }

h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 0; }

.bc-section-feature h1 {
  font-size: 40px;
  line-height: 48px; }

.bc-section-feature h2 {
  font-size: 40px;
  line-height: 48px; }

.bc-section-feature h3 {
  font-size: 26px;
  line-height: 34px; }

.mobile h1 {
  font-size: 20px;
  line-height: 26px;
  margin: 0; }

.mobile h2 {
  font-size: 16px;
  line-height: 22px;
  margin: 0; }

.mobile h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 0; }

.mobile .bc-section-feature h1 {
  font-size: 20px;
  line-height: 26px;
  margin: 0; }

.mobile .bc-section-feature h2 {
  font-size: 16px;
  line-height: 22px;
  margin: 0; }

.mobile .bc-section-feature h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 0; }

.bc-text-block {
  display: block; }

.bc-text-left {
  text-align: left; }

.bc-text-center {
  text-align: center; }

.bc-text-right {
  text-align: right; }

.bc-text-bold {
  font-weight: bold; }

.bc-text-capitalize {
  text-transform: uppercase; }

.bc-text-emphasis {
  font-style: italic; }

.bc-text-quote {
  position: relative;
  display: block;
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.5;
  font-style: italic; }
  .bc-text-quote:before {
    content: "\201C";
    position: absolute;
    left: -12px; }
  .bc-text-quote:after {
    content: "\201D";
    position: absolute;
    margin-left: 3px; }

.bc-text-strike {
  text-decoration: line-through; }

.bc-text-normal {
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important; }

.bc-banner.bc-banner-small {
  height: 210px; }
  .bc-banner.bc-banner-small .bc-banner-wrap {
    padding-top: 45px; }

.bc-banner.bc-banner-medium {
  height: 400px; }
  .bc-banner.bc-banner-medium .bc-banner-wrap {
    padding-top: 45px; }

.bc-banner.bc-banner-large {
  height: 500px; }
  .bc-banner.bc-banner-large .bc-banner-wrap {
    padding-top: 70px; }

.bc-banner {
  background: #000;
  overflow: hidden;
  position: relative; }
  .bc-banner .bc-banner-wrap {
    color: #fff;
    height: 100%;
    padding-top: 70px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8; }
  .bc-banner .bc-banner-title {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 100; }
  .bc-banner .bc-banner-sub-title {
    display: block;
    font-size: 20px;
    line-height: 26px; }
  .bc-banner .bc-banner-bg {
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 7; }
  .bc-banner .bc-banner-image {
    position: relative;
    left: 100%;
    margin-left: -200%;
    max-width: none; }

.mobile .bc-banner-container {
  height: auto;
  min-width: 100%;
  width: 100%; }

.mobile .bc-banner {
  background-color: #000;
  background-position: right top;
  background-repeat: no-repeat;
  height: 320px; }

.mobile .bc-banner-wrap {
  bottom: 40px;
  height: auto;
  position: absolute;
  padding: 0;
  text-align: center;
  top: auto; }

.mobile .bc-banner-title {
  font-size: 24px;
  line-height: 30px; }

.mobile .bc-banner-sub-title {
  font-size: 16px;
  line-height: 20px; }

.bc-banner.bc-banner-unleashed {
  height: 500px; }

.bc-banner-unleashed .bc-banner-unleashed-bg {
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute; }

.bc-banner-unleashed .bc-banner-unleashed-wrap {
  background-color: rgba(255, 255, 255, 0.4);
  height: 360px;
  margin: 70px auto;
  overflow: hidden;
  position: relative;
  width: 820px; }

.bc-banner-unleashed .bc-banner-unleashed-left {
  float: left;
  height: 100%;
  padding: 15px;
  width: 360px; }
  .bc-banner-unleashed .bc-banner-unleashed-left img {
    height: 100%;
    width: 100%; }

.bc-banner-unleashed .bc-banner-unleashed-right {
  background-color: #fff;
  color: #000;
  float: right;
  height: 100%;
  padding: 40px 20px;
  position: relative;
  width: 430px; }
  .bc-banner-unleashed .bc-banner-unleashed-right:before {
    background: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/bc_banner_unleashed_arrow.png) center;
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    top: 0;
    width: 30px; }

.mobile .bc-banner-unleashed {
  height: 320px; }
  .mobile .bc-banner-unleashed .bc-banner-title {
    color: #fff; }

.mobile .bc-banner-unleashed-wrap {
  background: none;
  height: auto;
  margin: 20px auto 0;
  width: 100%; }

.mobile .bc-banner-unleashed-left {
  background-color: rgba(255, 255, 255, 0.4);
  float: none;
  height: 160px;
  margin: 0 auto;
  padding: 7px;
  position: relative;
  width: 160px; }
  .mobile .bc-banner-unleashed-left:after {
    bottom: -28px;
    content: "";
    left: 50%;
    margin-left: -14px;
    position: absolute;
    height: 0;
    width: 0;
    border: 14px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.4); }

.mobile .bc-banner-unleashed-right {
  background: none;
  height: auto;
  padding: 20px 0 0;
  text-align: center;
  width: 100%; }
  .mobile .bc-banner-unleashed-right:before {
    content: none; }

.mobile .bc-banner.bc-banner-video,
.bc-banner.bc-banner-video {
  height: auto; }

.bc-banner-video {
  background-color: #000;
  position: relative;
  overflow: hidden; }
  .bc-banner-video .bc-banner-video-wrap {
    background-color: #000;
    padding: 15px; }
  .bc-banner-video .bc-banner-title {
    color: #fff; }
  .bc-banner-video .bc-banner-cta {
    background-position: center;
    background-size: auto 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9; }
  .bc-banner-video .bc-banner-video-ratio {
    height: 0;
    padding-bottom: 56.25%;
    position: relative; }
  .bc-banner-video iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }

.mobile .bc-banner-video .bc-banner-video-wrap {
  padding: 8px; }

@media only screen and (orientation: landscape) {
  .mobile .bc-banner,
  .mobile .bc-banner-unleashed {
    height: 200px; }
  .mobile .bc-banner-wrap {
    text-align: left;
    padding-top: 40px;
    position: static; }
  .mobile .bc-banner-right {
    background-position: left top; }
    .mobile .bc-banner-right .bc-banner-wrap {
      float: right;
      width: 50%; }
  .mobile .bc-banner-unleashed-wrap {
    width: 320px; }
  .mobile .bc-banner-unleashed-left {
    float: left; }
    .mobile .bc-banner-unleashed-left:after {
      border-top-color: transparent;
      border-left-color: rgba(255, 255, 255, 0.4);
      margin-top: -14px;
      left: auto;
      right: -28px;
      top: 50%; }
  .mobile .bc-banner-unleashed-right {
    padding: 10px 0 10px 30px;
    text-align: left;
    width: 50%; } }

.bc-button {
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 36px;
  text-align: center;
  position: relative;
  vertical-align: middle; }
  .bc-button:hover {
    background-color: #fcfcfc; }
  .bc-button:active {
    background-color: #eeeeee; }
  .bc-button.bc-button-disabled {
    filter: alpha(opacity=40);
    opacity: 0.4; }
  .bc-button.bc-button-inline {
    display: inline-block;
    min-width: 120px; }
    .bc-button.bc-button-inline.bc-button-small {
      min-width: 0; }
  .bc-button.bc-button-small {
    height: 26px;
    font-size: 13px; }
    .bc-button.bc-button-small .bc-button-text {
      line-height: 24px; }
  .bc-button .bc-button-text {
    background: none;
    border: none;
    color: #333;
    display: block;
    height: 100%;
    line-height: 34px;
    outline: none;
    padding: 0 16px;
    width: 100%; }
    .bc-button .bc-button-text:hover {
      text-decoration: none; }

.bc-button-input {
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: white;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  opacity: 0.01;
  filter: alpha(opacity=1); }

.bc-button-inverse {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #cccccc; }
  .bc-button-inverse:hover {
    background-color: #fcfcfc; }
    .bc-button-inverse:hover .bc-button-text {
      color: #000; }
  .bc-button-inverse:active {
    background-color: #eeeeee; }
  .bc-button-inverse.bc-button-disabled:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .bc-button-inverse .bc-button-text {
    color: #fff; }

.bc-button-primary {
  background-color: #f7991c;
  border-color: #ef7f06; }
  .bc-button-primary:hover {
    background-color: #f9a846; }
  .bc-button-primary:active {
    background-color: #ef7f06; }
  .bc-button-primary.bc-button-disabled:hover {
    background-color: #f7991c; }
  .bc-button-primary .bc-button-text {
    color: #fff; }

.bc-expander .bc-expander-row {
  margin-bottom: 8px; }

.bc-expander .bc-expander-header {
  color: inherit;
  display: block;
  cursor: pointer;
  margin: 15px 0;
  position: relative;
  text-decoration: none; }
  .bc-expander .bc-expander-header:hover {
    text-decoration: none; }

.bc-expander .bc-expander-inner {
  display: none;
  font-style: 20px;
  margin-bottom: 20px; }

.bc-expander .bc-expander-active .bc-expander-inner {
  display: block; }

.bc-expander .bc-icon-expander-active,
.bc-expander .bc-icon-expander-inactive {
  margin-top: -4px;
  top: 50%;
  position: absolute;
  right: 0; }

.bc-expander-inactive {
  display: none; }

.bc-expander-link {
  color: #333; }
  .bc-expander-link .bc-icon {
    font-size: 7px;
    vertical-align: middle; }

.bc-tab-set {
  border-bottom: 1px solid  #ccc;
  margin: 0; }

.bc-tab-heading {
  display: inline-block;
  margin-right: 30px; }
  .bc-tab-heading a {
    color: #333;
    display: block;
    text-transform: uppercase;
    padding: 20px 10px; }
    .bc-tab-heading a:hover {
      text-decoration: none; }
  .bc-tab-heading.bc-active a {
    border-bottom: 5px solid #f7991c;
    padding-bottom: 15px; }

    .bc-edu-tab-heading {
      display: inline-block;
      margin-right: 30px; }
      .bc-edu-tab-heading a {
        color: #333;
        display: block;
        padding: 20px 10px; }
        .bc-edu-tab-heading a:hover {
          text-decoration: none; }
      .bc-edu-tab-heading.bc-active a {
        border-bottom: 5px solid #ED5907;
        padding-bottom: 15px; }

.bc-tab-content {
  display: none;
  padding-top: 20px; }
  .bc-tab-content.bc-active {
}

.bc-tab-container {
  padding-top: 20px; }
  .bc-tab-container.bc-active {
    display: block; }

ul {
  padding: 0;
  margin: 0 0 0 16px; }

ol {
  padding: 0;
  margin: 0 0 0 19px; }

.bc-list-nostyle {
  margin-left: 0; }
  .bc-list-nostyle li {
    list-style: none; }

.bc-list-horizontal {
  margin-left: 0; }
  .bc-list-horizontal li {
    display: inline-block;
    margin: 0 20px 0 0; }
    .bc-list-horizontal li:last-child {
  .bc-list-horizontal > li {
    display: inline-block;
    margin: 0 20px 0 0; }
    .bc-list-horizontal > li:last-child {
      margin: 0; }

.bc-list-vertical {
  padding: 0;
  margin-left: 16px; }
  .bc-list-verticalol {
    margin-left: 19px; }
  .bc-list-vertical li {
    display: list-item;
    margin: 0; }

.bc-list-menu {
  margin-left: 0; }
  .bc-list-menu a {
    color: #333; }
  .bc-list-menu li {
    list-style: none; }

.bc-meter {
  background-color: #eee;
  height: 15px; }
  .bc-meter .bc-meter-bar {
    background-color: #666;
    float: left;
    height: 100%;
    width: 0; }

.bc-histogram .bc-meter {
  display: inline-block;
  width: 215px;
  vertical-align: bottom; }

.bc-review-stars .bc-icon {
  vertical-align: middle; }

.bc-review-stars .bc-icon-star-full {
  color: #f7991c; }

.bc-review-stars .bc-icon-star-empty {
  color: #ccc; }

.bc-input,
.bc-dropdown {
input, textarea, select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #999;
  font-size: 13px;
  outline: none;
  padding: 10px; }
  .bc-input:hover,
  .bc-dropdown:hover {
    color: #999;
    border-color: #999; }
  .bc-input:focus,
  .bc-dropdown:focus {
    border-color: #333;
    color: #333; }

.bc-dropdown {
  background-color: #fff; }
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  outline: none; }
  input:hover, textarea:hover, select:hover {
    color: #999;
    border-color: #999; }
  input:focus, textarea:focus, select:focus {
    border-color: #333;
    color: #333; }

input {
  height: 36px;
  padding: 10px; }

select {
  border-radius: 0;
  color: #333;
  height: 36px;
  padding: 0 30px 0 10px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

.bc-dropdown-container {
  display: inline-block;
  position: relative; }
  .bc-dropdown-container .bc-icon {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -3px;
    font-size: 7px; }

textarea {
  background-color: white;
  padding: 5px 7px;
  resize: vertical;
  width: 100%; }

.bc-search {
  display: inline-block;
  position: relative; }
  .bc-search .bc-input {
    padding-right: 46px; }
  .bc-search .bc-search-submit {
    background-color: #f9f9f9;
    border: none;
    border-left: 1px solid #ccc;
    position: absolute;
    right: 1px;
    top: 1px;
    outline: none;
    height: 34px;
    text-indent: -9999px;
    width: 34px; }

.bc-checkbox,
.bc-radio {
  position: relative; }
  .bc-checkbox label,
  .bc-radio label {
    display: block;
    position: relative; }
  .bc-checkbox .bc-label,
  .bc-radio .bc-label {
    position: relative;
    padding-left: 5px;
    display: inline-block; }
  .bc-checkbox input,
  .bc-radio input {
    height: 21px;
    width: 21px;
    opacity: 0.01;
    filter: alpha(opacity=5);
    position: absolute;
    z-index: -1; }
  .bc-checkbox :disabled + .bc-icon,
  .bc-radio :disabled + .bc-icon {
    opacity: 0.4; }

.bc-switch-row {
  display: inline-block;
  position: relative; }
  .bc-switch-row .bc-switch-input {
    position: absolute;
    opacity: 0.01;
    z-index: -1; }
  .bc-switch-row .bc-switch-label {
    cursor: pointer;
    line-height: 20px;
    margin-right: 10px; }
  .bc-switch-row .bc-switch {
    background-color: #ccc;
    display: block;
    float: right;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  .bc-switch-row .bc-switch-control {
    background-color: #fff;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 3px;
    top: 3px;
    display: block;
    border-radius: 7px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  .bc-switch-row .bc-switch-input:checked + .bc-switch {
    background-color: #f7991c; }
    .bc-switch-row .bc-switch-input:checked + .bc-switch .bc-switch-control {
      transform: translateX(20px); }

.bc-box {
  border: 1px solid #ccc;
  padding: 17px; }
  .bc-box.bc-box-alternate {
    background-color: #f8f8f8;
    border: none;
    padding: 18px; }
.bc-icon-checkbox,
.bc-icon-radio {
  height: 20px;
  width: 20px; }

.bc-icon-checkbox {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/forms/checkbox.svg); }

.bc-icon-radio {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/forms/radio.svg); }

.bc-checkbox :checked + .bc-icon-checkbox {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/forms/checkbox_checked.svg); }

.bc-radio :checked + .bc-icon-radio {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/forms/radio_checked.svg); }

.bc-letter-space {
  display: inline-block; }
  .bc-letter-space.bc-letter-space-micro {
    width: 2px; }
  .bc-letter-space.bc-letter-space-mini {
    width: 4px; }
  .bc-letter-space.bc-letter-space-small {
    width: 8px; }
  .bc-letter-space.bc-letter-space-base {
    width: 10px; }
  .bc-letter-space.bc-letter-space-medium {
    width: 14px; }
  .bc-letter-space.bc-letter-space-large {
    width: 18px; }
  .bc-letter-space.bc-letter-space-extra-large {
    width: 20px; }

.bc-alert-normal {
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 14px;
  position: relative;
  z-index: 101; }
  .bc-alert-normal a {
    color: white;
    text-decoration: underline; }
  .bc-alert-normal .alert-close {
    border-radius: 50%;
    height: 24px;
    right: 0;
    position: absolute;
    top: 50%;
    padding: 1px 6px 0 8px;
    margin-top: -12px;
    width: 24px; }
    .bc-alert-normal .alert-close:hover {
      background-color: rgba(255, 255, 255, 0.25); }
    .bc-alert-normal .alert-close:active {
      background-color: rgba(0, 0, 0, 0.15); }
    .bc-alert-normal .alert-close .bc-icon {
      font-size: 10px; }
  .bc-alert-normal.bc-alert-success {
    background-color: #57a160; }
  .bc-alert-normal.bc-alert-warning {
    background-color: #f7991c; }
  .bc-alert-normal.bc-alert-error {
    background-color: #e14e4e; }
  .bc-alert-normal.bc-alert-info {
    background-color: #199acc; }
  .bc-alert-normal.bc-alert-inactive {
    display: none; }

.bc-alert-container {
  max-width: 1020px;
  position: relative;
  padding-right: 25px; }

.bc-alert-inline {
  font-weight: bold;
  min-height: 26px;
  position: relative; }
  .bc-alert-inline a {
    font-weight: bold;
    text-decoration: underline; }
  .bc-alert-inline.bc-alert-success, .bc-alert-inline.bc-alert-success a {
    color: #57a160; }
  .bc-alert-inline.bc-alert-warning, .bc-alert-inline.bc-alert-warning a {
    color: #f7991c; }
  .bc-alert-inline.bc-alert-error, .bc-alert-inline.bc-alert-error a {
    color: #e14e4e; }
  .bc-alert-inline.bc-alert-info, .bc-alert-inline.bc-alert-info a {
    color: #199acc; }

.bc-alert-normal .alert-content,
.bc-alert-inline .alert-content {
  display: inline-block;
  margin-left: 10px; }

.bc-alert-normal .bc-icon,
.bc-alert-inline .bc-icon {
  font-size: 20px;
  vertical-align: middle; }

.bc-alert-success .bc-icon {
  font-size: 15px; }

.bc-color-base {
  color: #333; }

.bc-color-secondary {
  color: #666; }

.bc-color-tertiary {
  color: #999; }

.bc-color-inactive {
  color: #ccc; }

.bc-color-state {
  color: #f7991c; }

.bc-color-link {
  color: #199acc; }

.bc-color-inverse {
  color: #fff; }

.bc-color-alert-success {
  color: #57a160; }

.bc-color-alert-warning {
  color: #f7991c; }

.bc-color-alert-error {
  color: #e14e4e; }

.bc-color-alert-information {
  color: #199acc; }

.bc-color-alert-inverse {
  color: #fff; }

.bc-color-background-alternate {
  background-color: #ccc; }
.bc-color-background-base {
  background-color: #f9f9f9; }

.bc-flyout-trigger {
  display: inline-block;
  position: relative; }
  .bc-flyout-trigger:after {
    background-color: #000;
    content: "";
    display: none;
    position: absolute; }
  .bc-flyout-trigger.bc-flyout-active:after {
    display: block; }

.bc-flyout {
  position: absolute;
  z-index: 999; }
  .bc-flyout .bc-flyout-inner {
    background-color: #fff;
    border: 1px solid  #ccc;
    padding: 20px; }
  .bc-flyout.bc-flyout-active {
    display: block; }

.bc-flyout-trigger.bc-flyout-right:after {
  height: 36px;
  right: -18px;
  margin-top: -18px;
  top: 50%;
  width: 18px; }

.bc-flyout-trigger.bc-flyout-top:after {
  height: 18px;
  top: -18px;
  margin-left: -18px;
  left: 50%;
  width: 35px; }

.bc-flyout-trigger.bc-flyout-left:after {
  height: 36px;
  left: -18px;
  margin-top: -18px;
  top: 50%;
  width: 18px; }

.bc-flyout-trigger.bc-flyout-bottom:after {
  height: 18px;
  bottom: -18px;
  margin-left: -18px;
  left: 50%;
  width: 35px; }

.bc-flyout-right .bc-flyout {
  padding-left: 18px;
  left: 100%;
  top: 0; }

.bc-flyout-left .bc-flyout {
  padding-right: 18px;
  right: 100%;
  top: 0; }

.bc-flyout-top .bc-flyout {
  padding-bottom: 18px;
  bottom: 100%; }

.bc-flyout-bottom .bc-flyout {
  padding-top: 18px;
  top: 100%; }

  .bc-flyout:after {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/audibleweb/brickcity/1.0/flyout/flyout_carrot.svg);
    content: "";
    height: 18px;
    position: absolute;
    left: 50%;
    top: 1px;
    margin-left: -18px;
    width: 36px; }
  .bc-flyout.bc-flyout-right:after {
    transform: rotate(270deg);
    left: -8px;
    margin: -9px 0 0 0;
    top: 50%; }
  .bc-flyout.bc-flyout-top:after {
    transform: rotate(180deg);
    bottom: 1px;
    top: auto; }
  .bc-flyout.bc-flyout-left:after {
    transform: rotate(90deg);
    right: -8px;
    left: auto;
    margin: -9px 0 0 0;
    top: 50%; }
  .bc-flyout.bc-flyout-bottom {
    padding-top: 18px; }
  .bc-flyout.bc-flyout-left {
    padding-right: 18px; }
  .bc-flyout.bc-flyout-right {
    padding-left: 18px; }
  .bc-flyout.bc-flyout-top {
    padding-bottom: 18px; }

table {
  border-collapse: collapse;
  font-size: 14px;
  line-height: 20px;
  width: 100%; }

th {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  color: #999;
  padding: 8px 10px;
  text-align: left; }

td {
  border: 1px solid #eee;
  padding: 12px 10px; }

.bc-accordion .bc-accordion-header {
  color: inherit;
  display: block;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  text-decoration: none; }
  .bc-accordion .bc-accordion-header:hover {
    text-decoration: none; }
  .bc-accordion .bc-accordion-header .bc-icon {
    font-size: 7px;
    margin-top: -4px;
    top: 50%;
    position: absolute;
    right: 0; }

.bc-accordion .bc-accordion-inner {
  display: none;
  font-style: 20px;
  margin-bottom: 20px; }

.bc-accordion .bc-accordion-active .bc-accordion-inner {
  display: block; }

.bc-search {
  position: relative; }
  .bc-search .bc-icon {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -8px;
    font-size: 16px; }
  .bc-search .bc-input {
    padding-right: 34px; }

.bc-modal-backdrop {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 999; }

.bc-modal {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 999; }

.bc-modal-container {
  background-color: #fff;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  width: 600px; }

.bc-modal-close {
  color: #fff;
  position: absolute;
  right: 0;
  top: -20px; }

.bc-breadcrumbs .bc-icon {
  color: #999;
  font-size: 9px;
  margin: 0 10px;
  vertical-align: middle; }
